{% extends "layout.html" %}

{% block title %}
  IBOS
{% endblock %}

{% block body %}
<!-- Main Content -->
<section id="showcase"> 
  <div class="container-fluid" id="title-container">
    <h1>IBOS</h1>
    <p>
      Want help by doing extra tutoring courses, look no further than here! 
      <span class="small-invs">On this website you can find everything you need!</span> 
    </p>
    <button type="button" class="btn btn-light">Read more!</button>
    <button type="button" class="btn btn-outline-light">Reading List</button>
  </div>
</section>
{% endblock %}