{% extends "inner-page.html" %}
{% set active_page, name_page = "research", "Psychologisch onderzoek" %}

{% block main_content %}
<h1 id="sample-markdown">Sample Markdown</h1>
<p>Uw kind kan last hebben van verschillende klachten en/of problemen op school ondervinden. Als ouder kunt u zich hierover zorgen maken en afvragen of er mogelijk specifieke problemen zijn in de leerontwikkeling of sociale ontwikkeling. U kunt met vragen zitten, zoals: </p>
<ul>
<li>Komt er op school wel uit wat erin zit, want ik denk dat mijn kind meer kan?</li>
<li>Heeft mijn kind een leerachterstand?</li>
<li>Is mijn kind dyslectisch?</li>
<li>Heeft mijn kind ADHD?</li>
<li>Is mijn kind hoogbegaafd?</li>
<li>Welk type voortgezet onderwijs past straks het beste bij mijn kind?</li>
<li>Heeft mijn kind faalangst en wat kan ik daar aan doen?</li>
<li>Waarom is mijn kind zo dwars en luistert het zo slecht?</li>
<li>Waarom heeft mijn kind moeite om zijn of haar huiswerk te maken?</li>
</ul>
<p>Bij het IBOS geven wij door middel van psychologisch onderzoek, observaties en gesprekken antwoord op dergelijke vragen. Op basis van de uitkomsten hiervan bieden wij op maat gemaakte begeleiding en ondersteuning. Dit gebeurt altijd in nauw overleg met u. </p>
<p>Typen onderzoek</p>
<p><em>Pedagogisch didactisch onderzoek</em></p>
<p>Met pedagogisch didactisch onderzoek kunnen wij precies bepalen op welk niveau de leerontwikkeling van uw kind zich bevindt. Hierbij wordt gekeken naar zowel taal- als rekenaspecten, die worden vergeleken met (landelijke) gemiddelden passend bij de leeftijdscategorie van uw kind. Met dit type onderzoek kunnen leerachterstanden of -voorsprongen in kaart worden gebracht. De resultaten van het onderzoek vormen een goed uitgangspunt om een passend ondersteuningstraject te starten dat gericht is op het inhalen van leerachterstanden en het behouden van eventuele voorsprongen.</p>
<h1 id="-psychologisch-onderzoek-"><em>Psychologisch onderzoek</em></h1>
<p>Wanneer u en/of de omgeving, zoals de school van uw kind, vragen heeft over het functioneren van uw kind, kan een psychologisch onderzoek belangrijke inzichten bieden. Hierbij onderzoeken wij de mogelijkheden van uw kind en kijken wij specifiek naar sterke en minder sterke punten. Ook kunnen er specifieke (leer)stoornissen uit een psychologisch onderzoek naar voren komen. De sociaal-emotionele en/of persoonlijkheidsontwikkeling van uw kind kan eveneens bij het onderzoek worden betrokken. Wij bieden psychologische onderzoeken aan naar:</p>
<ul>
<li>Intelligentie</li>
<li>Dyslexie</li>
<li>Dyscalculie</li>
<li>Non-verbal Learning Disabilities (NLD)</li>
<li>Attention Deficit Hyperactivity Disorder (ADHD)</li>
<li>Autisme (ASS)</li>
<li>(Faal)angst, depressieve of minderwaardigheidsgevoelens</li>
</ul>
<p>Wij leggen vooral de nadruk op de sterke kanten van uw kind, want dit zijn de aanknopingspunten om uw kind verder te helpen. Indien minder sterke kanten of specifieke (leer)problematiek uit het onderzoek naar voren komen, kijken wij samen met u op welke manier deze het beste kunnen worden ondervangen.</p>
<p><em>Intelligentieonderzoek</em></p>
<p><em>xxx</em></p>
<h1 id="-onderzoek-naar-hoog-begaafdheid-"><em>Onderzoek naar (hoog)begaafdheid</em></h1>
<p>Wij onderzoeken of er bij uw kind sprake is van (hoog)begaafdheid. Hierbij wordt het niveau van intelligent functioneren vastgesteld. Tevens wordt onderzoek gedaan naar het verstandelijke en emotionele functioneren van uw kind. Op grond van de resultaten worden handelingsadviezen gegeven voor thuis en op school.</p>
<p><em>Dyslexieonderzoek</em></p>
<p>Dyslexie is een stoornis die gekenmerkt wordt door hardnekkige problemen in de automatisering van de woordidentificatie (lezen) en/of schriftbeeldvorming (spellen). Bij dti type onderzoek onderzoeken wij of er sprake is van ernstige lees- en/of spellingsachterstand die hardnekkig is. Dit in combinatie met onderzoek naar de intelligentie en de intelligentiefactoren.</p>
<p>Op basis van onderzoek en dyslexiebehandeling kan uw kind in aanmerking komen voor een door het IBOS verstrekte dyslexieverklaring.</p>
<p><em>Dyscalculieonderzoek</em></p>
<p><em>x</em></p>
<p><em>x</em></p>
<p><em>x</em></p>
<p><em>x</em></p>
<p><em>Non-verbal Learning Disabilities (NLD)</em></p>
<p><em>x</em></p>
<p><em>x</em></p>
<p><em>x</em></p>
<p><em>x</em></p>
<p><em>x</em></p>
<p><em>Attention Deficit Hyperactivity Disorder (ADHD)</em></p>
<p><em>x</em></p>
<p><em>x</em></p>
<p><em>x</em></p>
<p><em>x</em></p>
<p><em>Autisme (ASS)</em></p>
<p><em>x</em></p>
<p><em>x</em></p>
<p><em>x</em></p>
<p><em>x</em></p>
<p><em>x</em></p>
<p><em>x</em></p>
<p><em>(Faal)angst, depressieve of minderwaardigheidsgevoelens</em></p>
<p>x</p>
<p>x</p>
<p>x</p>
<p>x</p>
<p>x</p>
<p>x</p>
<p>x</p>
<h1 id="-schoolkeuzeonderzoek-"><em>Schoolkeuzeonderzoek</em></h1>
<p>Een pedagogisch en/of psychologisch onderzoek en psychologisch onderzoek kan ook antwoord geven op vragen welk type (voortgezet) onderwijs het beste bij uw kind past.</p>
<p><em>Beroepskeuzeonderzoek</em></p>
<p>Een beroepskeuzeonderzoek geeft inzicht in de interesses en sterke punten van uw kind. Dit kan uw kind helpen in het maken van weloverwogen keuzes voor schoolvakken en/of een vervolgstudie na de middelbare school. Dit type onderzoek is tevens geschikt voor jongvolwassenen, zoals studenten, die al een keuze hebben gemaakt maar graag hulp zouden willen bij het kiezen van een specialisatie of (andere) vervolgstappen. Hierbij bespreken wij ook altijd de concrete stappen die genomen dienen te worden.</p>
<p><em>Contra-expertise onderzoek (second opinion)[AB2] [AB3]</em></p>
<p>Wij bieden ook uitkomst in het geval u uw kind elders heeft laten onderzoeken, maar twijfelt aan de uitkomsten van dat onderzoek. Wij bieden dan een onafhankelijke second opinion aan.</p>
<p><em>IBOS Signaleringsonderzoek vanaf groep 3 van de basisschool[AB4]</em></p>
<p>Jaarlijks wordt bij de kinderen van het basisonderwijs vanaf groep 3 van het basisonderwijs een onderzoek afgenomen. Ouders hebben hiermee een exact inzicht in hoe hun kind presteert ten opzichte van het landelijke gemiddelde. Bij een eventuele achterstand kan op tijd worden bijgestuurd. Een leervoorsprong kan verder worden uitgebreid. Op deze wijze wordt in een vroegtijdig stadium zichtbaar wat voor schooladvies uw kind kan verwachten na de basisschool.</p>
<p>Dit systeem is bestemd voor kinderen uit zowel het reguliere basisonderwijs als het speciale basis onderwijs (SBO).</p>
<p><em>Test- en toetsinstrumenten</em></p>
<p>Het IBOS gebruikt tests en toetsen die door het Ministerie van Onderwijs, Cultuur en Wetenschap jaarlijks worden voorgeschreven als toegestane instrumenten en die door de COTAN (Commissie Testaangelegenheden Nederland) zijn goedgekeurd. De juridische status van een diagnostisch onderzoek uitgevoerd door het  IBOS is rechtens afdwingbaar.
This is some basic, sample markdown.</p>
<h2 id="second-heading">Second Heading</h2>
<ul>
<li>Unordered lists, and:<ol>
<li>One</li>
<li>Two</li>
<li>Three</li>
</ol>
</li>
<li>More</li>
</ul>
<blockquote>
<p>Blockquote</p>
</blockquote>
<p>And <strong>bold</strong>, <em>italics</em>, and even <em>italics and later <strong>bold</strong></em>. Even <del>strikethrough</del>. <a href="https://markdowntohtml.com">A link</a> to somewhere.</p>
<p>And code highlighting:</p>
<pre><code class="lang-js"><span class="hljs-keyword">var</span> foo = <span class="hljs-string">'bar'</span>;

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">baz</span><span class="hljs-params">(s)</span> </span>{
   <span class="hljs-keyword">return</span> foo + <span class="hljs-string">':'</span> + s;
}
</code></pre>
<p>Or inline code like <code>var foo = &#39;bar&#39;;</code>.</p>
<p>Or an image of bears</p>
<p><img src="http://placebear.com/200/200" alt="bears"></p>
<p>The end ...</p>

{% endblock %}